.container {
  height: 100%;
  display: flex;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 28px 21px;
  align-items: center;
  flex-direction: column;
  input, textarea, select, button { 
    width: 100%;
    padding: 14px;
    font-size: 14px;
    resize: vertical;
    border-radius: 5px;
    margin: 7px 0px 14px 0px;
    border: 1px solid var(--border);
  }
  input, textarea, select {
    &:focus {
      outline: none;
      border: 1px solid var(--primary);
    }
  }
  textarea {
    min-height: 50px;
  }
  label {
    font-weight: 600;
    margin: 7px 0px 14px 0px;
  }
  button {
    color: white;
    font-weight: 600;
    margin: 21px 0px 0px 0px;
    background: var(--primary);
  }
}
